################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Ddd.Events/Ddd.Events/bin/Debug
/Ddd.Events/Ddd.Events.Example/bin/Debug
/Ddd.Events/Ddd.Events.Tets/bin/Debug
/Ddd.Events/Ddd.Events.Example/obj/Debug
/Ddd.Events/Ddd.Events/obj/Debug/Ddd.Events.dll
/Ddd.Events/Ddd.Events/obj/Debug/Ddd.Events.pdb
/Ddd.Events/Ddd.Events/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ddd.Events/Ddd.Events.Tets/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
*.dll
*.cache
*.user
/Ddd.Events/Ddd.Events.Tets/obj/Debug
/Ddd.Events/Ddd.Events/obj/Debug
/Ddd.Events/Ddd.Events/obj/Release
/Ddd.Events/Ddd.Events.Example/obj/Release
/Ddd.Events/Ddd.Events.Tets/bin/Release
/Ddd.Events/Ddd.Events.Tets/obj/Release
